<div class="outer-update">
  <div class="inner-update">
    <div class="bank-details">
      <span class="bank-credentials">Add New Invoice</span>
      <div></div>
    </div>
    <div class="invoice-details">
      <div class="left-sec">
        <div class="header">
          <span>Invoice Details</span>
        </div>
        <div class="f-1">
          <p class="f-1-outline">Invoice Number</p>
          <input type="text" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">CUSTOMER NAME</p>
          <input type="text" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">NET AMOUNT</p>
          <input type="text" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">VAT RATE</p>
          <input type="text" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">VAT AMOUNT</p>
          <input type="text" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">TOTAL GROSS</p>
          <input type="text" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">BANK ACCONT</p>
          <input type="text" />
        </div>
        <div class="buttons">
          <div class="ad-btn">
            <img src="../../../assets/vector (10).png" alt="" />
            <span>Save Changes</span>
          </div>
          <div class="ad-btn cancel">
            <img src="../../../assets/vector (7).png" alt="" />
            <span>Cancel</span>
          </div>
        </div>
      </div>
      <div class="right-sec">
        <div class="header">
          <span>Invoice Details</span>
        </div>
        <div class="f-1">
          <p class="f-1-outline">Invoice Number</p>
          <input type="text" />
        </div>
        <div class="f-2">
          <p class="f-2-outline">CUSTOMER NAME</p>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="f-1">
          <p class="f-1-outline">VAT RATE</p>
          <input type="text" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">VAT AMOUNT</p>
          <input type="text" />
        </div>
        <div class="f-2">
          <p class="f-2-outline">CUSTOMER NAME</p>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
