<div class="customer-outer-div">
    <h1 style="color: #5800A0; font-size: 24px; font-weight: bold; margin: 0;">Employee Details</h1>
    <hr style="width: 100%; opacity: 0.5;">
    <div class="filter-div">
        <div class="search-filter">
            <div class="adv-filter">
                <i class="fa-solid fa-filter" style="width: auto;"></i>
                <h5 style="margin: 0; width: auto; color: #b8b4b4;">Filters</h5>
            </div>
            <div class="search">
                <input placeholder="Search" />
                <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #b8b4b4; width: auto;"></i>
            </div>
        </div>
        <div class="btn-group">
            <div class="cust-btn">
                <i class="fa-solid fa-plus" style="width: auto;"></i>
                <p class="customer" style="margin: 0;">
                    Add Employee
                </p>
            </div>
            <div class="edit-btn">
                <i class="fa-solid fa-pen-to-square" style="width: auto;"></i>
                <p class="customer" style="margin: 0;">
                    Edit Employee Details
                </p>
            </div>
            <div class="invite-btn">
                <p class="customer" style="margin: 0;">
                    Get Invite Link
                </p>
            </div>
        </div>
    </div>
    <div class="table-div">
        <app-table [tableHeaders]="['Name', 'Age', 'City']"></app-table>
    </div>
</div>