<div class="outer-page">
  <mat-drawer-container class="example-container">
    <mat-drawer class="sidenav-content" mode="side" opened>
      <div class="inner-sidenav">
        <div class="title">
          <div></div>
          <span>Brand Name</span>
        </div>
        <div class="menus">
          <div class="menu1">
            <div class="m1 profile" [class.active]="activePage === 'profile'">
              <img src="../../../assets/Union (1).png" alt="" />
              <span  (click)="setActivePage('profile')">Profile</span>
            </div>
          </div>
          <div class="menu1">
            <div class="m1" [class.active]="activePage === 'employees'" (click)="setActivePage('employees')">
              <span class="material-symbols-outlined"> badge </span>
              <span>Employees</span>
            </div>
          </div>
          <div class="menu1">
            <div class="m1" [class.active]="activePage === 'customers'" (click)="setActivePage('customers')">
              <img src="../../../assets/Group 1224.png" alt="" />
              <span>Customers</span>
            </div>
          </div>
          <mat-divider class="horizontal"></mat-divider>
          <div class="menu1">
            <div class="m1" [class.active]="activePage === 'invoices'" (click)="setActivePage('invoices')">
              <img src="../../../assets/Invoice.png" alt="" />
              <span>All Invoices</span>
            </div>
          </div>
          <mat-divider class="horizontal"></mat-divider>
        </div>
        <div class="signout">
          <div class="m1 signout-btn">
            <img src="../../../assets/Group 74 (1).png" alt="" />
            <span>SignOut</span>
          </div>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content class="main-content">
      <app-profile-management></app-profile-management>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
