table {
    border-collapse: collapse;
    min-width: 100%;
    width: 800px;
    overflow: auto;
}

thead {
    color: #5800A0;
    font-weight: bold;
}

th.sortable {
    cursor: pointer;
}

.sort-icon {
    margin-left: 5px;
}

tbody tr.odd {
    background-color: white;
}

tbody tr.even {
    background-color: transparent;
}

tbody tr.selected {
    background-color: lightpurple;
    font-weight: bold;
}

table th,
table td {
    border: none;
    padding: 8px;
    width: 30px;
    text-align: center;
}

thead {
    border-bottom: 2px solid rgb(209, 209, 209);
}

tbody tr td:first-child {
    text-align: center;
}

tbody tr.selected td:first-child input[type="checkbox"] {
    border: 2px solid purple;
}